In [28]:
import pandas as pd
import os
import glob

In [35]:
# Data was downloaded by month and year. Going to combine all the files to create one data frame.
df = []
all_files = glob.glob('c:/calvin/*.csv')

In [39]:
for filename in all_files:
    temp = pd.read_csv(filename, encoding = 'latin-1')
    df.append(temp)

C:\Users\tucso\AppData\Local\Temp\ipykernel_16316\2438567231.py:2: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(filename, encoding = 'latin-1')

In [46]:
data = pd.concat(df, axis = 0)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4312049 entries, 0 to 81354
Data columns (total 32 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   QUARTER              int64
 2   MONTH                int64
 3   DAY_OF_MONTH         int64
 4   DAY_OF_WEEK          float64
 5   FL_DATE              object
 6   OP_CARRIER_FL_NUM    int64
 7   ORIGIN               object
 8   DEST                 object
 9   CRS_DEP_TIME         int64
 10  DEP_TIME             float64
 11  DEP_DELAY            float64
 12  DEP_DELAY_NEW        float64
 13  CRS_ARR_TIME         int64
 14  ARR_TIME             float64
 15  ARR_DELAY            float64
 16  ARR_DELAY_NEW        float64
 17  CANCELLED            float64
 18  CANCELLATION_CODE    object
 19  DIVERTED             float64
 20  CRS_ELAPSED_TIME     float64
 21  ACTUAL_ELAPSED_TIME  float64
 22  CARRIER_DELAY        float64
 23  WEATHER_DELAY        float64
 24  NAS_DELAY            float64
 25  SECURITY_DELAY       float64
 26  LATE_AIRCRAFT_DELAY  float64
 27  OP_CARRIER           object
 28  ORIGIN_CITY_NAME     object
 29  DEST_CITY_NAME       object
 30  DEP_DEL15            float64
 31  DEP_DELAY_GROUP      float64
dtypes: float64(18), int64(7), object(7)
memory usage: 1.1+ GB

In [45]:
# Check for NaN in the data
data.isnull().sum()

YEAR                         0
QUARTER                      0
MONTH                        0
DAY_OF_MONTH                 0
DAY_OF_WEEK             397669
FL_DATE                 397669
OP_CARRIER_FL_NUM            0
ORIGIN                       0
DEST                         0
CRS_DEP_TIME                 0
DEP_TIME                447292
DEP_DELAY                57810
DEP_DELAY_NEW            57810
CRS_ARR_TIME                 0
ARR_TIME                 60732
ARR_DELAY                75203
ARR_DELAY_NEW            75203
CANCELLED                    0
CANCELLATION_CODE      4252514
DIVERTED                397669
CRS_ELAPSED_TIME        397672
ACTUAL_ELAPSED_TIME     462846
CARRIER_DELAY          3420264
WEATHER_DELAY          3420264
NAS_DELAY              3420264
SECURITY_DELAY         3420264
LATE_AIRCRAFT_DELAY    3420264
OP_CARRIER             3914380
ORIGIN_CITY_NAME       3914380
DEST_CITY_NAME         3914380
DEP_DEL15              3922532
DEP_DELAY_GROUP        3922532
dtype: int64

In [47]:
data.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,...,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,OP_CARRIER,ORIGIN_CITY_NAME,DEST_CITY_NAME,DEP_DEL15,DEP_DELAY_GROUP
0,2010,2,5,1,6.0,5/1/2010 12:00:00 AM,3687,MEM,JAX,1340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,2,5,2,7.0,5/2/2010 12:00:00 AM,3687,MEM,JAX,1340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,2,5,3,1.0,5/3/2010 12:00:00 AM,3687,MEM,JAX,1340,...,0.0,0.0,7.0,86.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2010,2,5,4,2.0,5/4/2010 12:00:00 AM,3687,MEM,JAX,1340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,2,5,5,3.0,5/5/2010 12:00:00 AM,3687,MEM,JAX,1340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
# When there isn't any delays, the dataframe has a value of NaN,
#I am going to convert those to 0 in columns dealing with delays
delays = ['CARRIER_DELAY','WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']
for column in delays:
    data[column] = data[column].fillna(0)
data.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,...,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,OP_CARRIER,ORIGIN_CITY_NAME,DEST_CITY_NAME,DEP_DEL15,DEP_DELAY_GROUP
0,2010,2,5,1,6.0,5/1/2010 12:00:00 AM,3687,MEM,JAX,1340,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,2010,2,5,2,7.0,5/2/2010 12:00:00 AM,3687,MEM,JAX,1340,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2010,2,5,3,1.0,5/3/2010 12:00:00 AM,3687,MEM,JAX,1340,...,0.0,0.0,7.0,86.0,0.0,NaN,NaN,NaN,NaN,NaN
3,2010,2,5,4,2.0,5/4/2010 12:00:00 AM,3687,MEM,JAX,1340,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,2010,2,5,5,3.0,5/5/2010 12:00:00 AM,3687,MEM,JAX,1340,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [50]:
# Flights that are going in and out of MIA (Miami International Airport) are needed.
# All other flights will be removed.

data1 = data.query('ORIGIN == "MIA" or DEST == "MIA"')
print(data1['ORIGIN'])
print(data1['DEST'])

459      STT
460      STT
461      STT
462      STT
463      STT
        ...
81322    LGA
81339    ATL
81340    MIA
81341    MIA
81342    MIA
Name: ORIGIN, Length: 736652, dtype: object
459      MIA
460      MIA
461      MIA
462      MIA
463      MIA
        ...
81322    MIA
81339    MIA
81340    MSP
81341    ATL
81342    ATL
Name: DEST, Length: 736652, dtype: object

In [52]:
print(data1.tail(10))

       YEAR  QUARTER  MONTH  DAY_OF_MONTH  DAY_OF_WEEK                FL_DATE  \
81296  2021        3      9            16          4.0  9/16/2021 12:00:00 AM
81299  2021        3      9            16          4.0  9/16/2021 12:00:00 AM
81301  2021        3      9            16          4.0  9/16/2021 12:00:00 AM
81307  2021        3      9            16          4.0  9/16/2021 12:00:00 AM
81309  2021        3      9            16          4.0  9/16/2021 12:00:00 AM
81322  2021        3      9            16          4.0  9/16/2021 12:00:00 AM
81339  2021        3      9            16          4.0  9/16/2021 12:00:00 AM
81340  2021        3      9            16          4.0  9/16/2021 12:00:00 AM
81341  2021        3      9            16          4.0  9/16/2021 12:00:00 AM
81342  2021        3      9            16          4.0  9/16/2021 12:00:00 AM

       OP_CARRIER_FL_NUM ORIGIN DEST  CRS_DEP_TIME  ...  CARRIER_DELAY  \
81296               1269    JFK  MIA          1150  ...            0.0
81299               1282    MIA  LGA          1730  ...            0.0
81301               1284    BOS  MIA           755  ...            0.0
81307               1321    DTW  MIA           830  ...            0.0
81309               1327    MIA  JFK          1510  ...            0.0
81322               1370    LGA  MIA           725  ...            0.0
81339               1422    ATL  MIA          2225  ...            0.0
81340               1423    MIA  MSP          1346  ...            0.0
81341               1428    MIA  ATL           806  ...            0.0
81342               1435    MIA  ATL          1345  ...            7.0

       WEATHER_DELAY  NAS_DELAY  SECURITY_DELAY  LATE_AIRCRAFT_DELAY  \
81296            0.0        0.0             0.0                  0.0
81299            0.0        0.0             0.0                  0.0
81301            0.0        0.0             0.0                  0.0
81307            0.0        0.0             0.0                  0.0
81309            0.0        0.0             0.0                  0.0
81322            0.0        0.0             0.0                  0.0
81339            0.0        0.0             0.0                  0.0
81340            0.0        0.0             0.0                  0.0
81341            0.0        3.0            36.0                  0.0
81342            0.0        6.0             0.0                 39.0

       OP_CARRIER  ORIGIN_CITY_NAME  DEST_CITY_NAME DEP_DEL15  DEP_DELAY_GROUP
81296         NaN               NaN             NaN       NaN              NaN
81299         NaN               NaN             NaN       NaN              NaN
81301         NaN               NaN             NaN       NaN              NaN
81307         NaN               NaN             NaN       NaN              NaN
81309         NaN               NaN             NaN       NaN              NaN
81322         NaN               NaN             NaN       NaN              NaN
81339         NaN               NaN             NaN       NaN              NaN
81340         NaN               NaN             NaN       NaN              NaN
81341         NaN               NaN             NaN       NaN              NaN
81342         NaN               NaN             NaN       NaN              NaN

[10 rows x 32 columns]

In [54]:
#Save wrangled data frame to csv
data1.to_csv('c:/calvin/mia_data.csv')